{{#each eventInfo}}
      <div>
          <!-- <img src= {{image.url}} id="events-img"> -->
          <h3>{{title}}</h3>
          <h5>{{venueName}}</h5>
          <p>{{startTime}}</p>
          <!-- <p>{{description}}</p> -->
      </div>
      <br></br>
{{/each}}
