{{#each newsInfo}}

<div id="news-info">
  <!-- <p>{{author}}</p> -->
  <img src= {{urlToImage}}>
  <a href= {{url}}>
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  </a>
</div>

<br></br>

{{/each}}
